.clear {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 400px;
}

.total {
    width: 80%;
    font-size: 15px;
    margin: 0 auto;
    line-height: 40px;
}

.clear-button {
    width: 20%;
    background-color: #4287f5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.clear-button:hover {
    border: 3px solid #1f61cc;
}
