.list {
    margin-top: 30px;
    max-height: 400px;
    overflow-y: auto;
}

.item {
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    display: flex;
    border-radius: 8px;
    border: solid 1px;
}

.order-button {
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 12px;
    margin-bottom: 15px;
    color: #d13030;
}

.name {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    line-height: 40px;
}

.priority {
    margin-right: 10px;
    line-height: 10px;
    font-weight: bold;
}

.status {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.delete-button {
    width: 15%;
    border: none;
    cursor: pointer;
    color: #d13030;
    background: transparent;
    font-size: 20px;
}
