.container {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px #ccc;
    border-radius: 15px;
    width: 400px;
    height: 600px;
    padding: 30px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.title {
    background: #6096e9;
    height: 80px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    color: #fff;
}
