.task-input {
    border-radius: 8px;
    padding: 5px;
    height: 30px;
    width: 50%;
    border: 2px solid #3388ff;
}

.task-input:focus {
    outline: none !important;
    border: 2px solid #3169f7;
}

.add-button {
    height: 45px;
    width: 15%;
    margin-left: 3px;
    border: 2px solid #3388ff;
    color: #fff;
    cursor: pointer;
    background-color: #3388ff;
    border-radius: 8px;
}

.add-button:hover {
    border: 2px solid #3169f7;
}

.priority-select{
    height: 45px;
    width: 30%;
    margin-left: 3px;
    border: 2px solid #3388ff;
    border-radius: 8px;
    background: transparent;
}

.select:focus {
    outline: none !important;
    border: 2px solid #3169f7;
}
